.nav-list>ul>li::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: var(--orange);
    margin: auto;
    transition: 0.5s;
}

.nav-list>ul>li:hover::after {
    width: 100%;
}


.text-gradient {
    background-image: linear-gradient(to right, #956b1b, #776630);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}


.skew {
    display: inline-block;
    animation: fade-in-out 3s infinite;
}

@keyframes fade-in-out {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        transform: scale(.5);
        opacity: 0;
    }
}