.service-button{
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-service{
    position: relative;
    left:-4rem;
}

.service-blur-left{
    top:13rem;
    left:-18rem;
}