.intro-icons > *{
    /* transform: scale(0.5); */
    transition: transform .2s;
}

.intro-icons > *:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.blur{
    background:#edd0ff;
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    filter: blur(70px);
    z-index: -9;
    /* top: -18%;
    left: 56%; */
}