/* .portfolio{
    padding: 0 3rem 0 3rem;
    display: flex !important;
    height: 90vh;
} */

/* .portfolio-left{
    height: 26rem;
    width: 44rem;
    display: flex;
    position: relative;
    border:7px solid var(--orangeCard);
    border-radius: 4px;
}

.portfolio-left div :nth-of-type(1)::after{
    border-radius: 20px;
} */

/* .portfolio-right{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: -3rem;
}

.portfolio-info{
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* .portfolio-info span:nth-of-type(1){
    color: var(--black);
    font-size: 2rem;
    width: fit-content;
    font-weight: bold;
}

.portfolio span:nth-of-type(2){
    color: var(--orange);
    font-size: 2.5rem;
    font-weight: bold;
} */